<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<!-- 通过th:object的形式注入上下文对象，后面使用*号取值 -->
   	<div th:object="${product}">
	  	<header class="bar bar-nav">
		    <a class="button button-link button-nav pull-left" th:href="@{/main}" data-transition='slide-out'>
		      <span class="icon icon-left"></span>
		      	返回
		    </a>
		    <h1 class="title" th:text="*{name}"></h1>
	  	</header>
	  	<nav class="bar bar-tab">
		    <a class="tab-item active" href="#">
		      <span class="icon icon-home"></span>
		      <span class="tab-label">首页</span>
		    </a>
		    <a class="tab-item" href="#">
		      <span class="icon icon-me"></span>
		      <span class="tab-label">我</span>
		    </a>
		    <a class="tab-item" href="#">
		      <span class="icon icon-star"></span>
		      <span class="tab-label">收藏</span>
		    </a>
		    <a class="tab-item" href="#">
		      <span class="icon icon-settings"></span>
		      <span class="tab-label">设置</span>
		    </a>
	 	</nav>
  		<div class="content">
	  		<!-- 幻灯片  开始 -->
			 <div class="swiper-container" data-space-between='10'>
			 	<div class="swiper-wrapper">
			    	<div class="swiper-slide">
			      		<img src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1n3rZHFXXXXX9XFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt=""/>
			      	</div>
			      	<div class="swiper-slide">
			      		<img src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i4/TB10rkPGVXXXXXGapXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt=""/>
			      	</div>
			      	<div class="swiper-slide">
			      		<img src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1kQI3HpXXXXbSXFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt=""/>
			      	</div>
		 		</div>
			    <div class="swiper-pagination"></div>
				<div class="swiper-scrollbar"></div>	
				 <div class="buttons-tab"> 
			        <span class="icon icon-clock"></span><i th:text="*{duration}"></i>分钟  
			        <span class="icon icon-gift"></span><i th:text="*{opeType}"></i>
			        <span th:text="*{paiedCount}"></span>人选择
		     	 </div>
			 </div>
		 	<!-- 幻灯片  结束 -->
	 	 	<!-- 详情展示 -->
		 	<div class="buttons-tab col-xm-12" >
		 	 	<span th:each="detail,detailStat:*{productDetailList}" class="col-xm-4">
			 	 	<a th:href="@{#tab}+${detail.showOrder}" th:class="${detail.showOrder==1}?'tab-link active button':'tab-link button'" th:text="${detail.detailName}"></a>
		 	 	</span>
		 	</div>
	 	 	<div class="content-block">
		    	<div class="tabs" th:each="detail,detailStat:*{productDetailList}">	
			      	<div id="tab+${detail.showOrder}" th:class="${detail.showOrder==1}?'tab active':'tab'">
			      		<!--  -->
			      		<div th:each="detailInfo,infoStat:${detail.productDetailInfos}">
			      			<h4 th:text="${detailInfo.detailRange}" style="color: #00ff00"></h4>
			      			<p th:text="${detailInfo.detailIntro}" style="font-weight: bolder;color: gray;"></p>
			      			<div th:each="infoMsg,msgStat:${detailInfo.productDetailInfoMsgs}">
			      				<span th:text="${infoMsg.order}"></span>、
			      				<span th:text="${infoMsg.detialMsg}"></span>
			      			</div>
			      		</div>
			      	</div>
			    </div>
	  		</div>
 	 	</div>	
 	 	
 	</div>
</html>